/* Style pour un fond d'écran */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;

  /* Fond d'écran */
  background-image: url('images/fond-bleu-new.jpg'); /* Remplacez par le chemin de votre image */
  background-size: cover; /* Pour couvrir tout l'écran */
  background-position: center; /* Centrer l'image */
  background-attachment: fixed; /* Image fixe lors du défilement */
  background-repeat: no-repeat; /* Empêche la répétition de l'image */

  color: #fff; /* Couleur du texte par défaut pour un contraste */
}

/* Facultatif : Style pour un conteneur centré */
.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Prend toute la hauteur de l'écran */
  text-align: center;
}
